.container__home{
   width: 100%;
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: rgb(238, 234, 234);

}
.container__title{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 1em;
   > img{
    width: 100%;
    max-width: 350px;
   }  

}
.container__title2{
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
    color:rgba(217, 63, 63, 1);
}
.container__p{
    font-size: 1.5em;
    text-align: center;
    color: rgba(48, 47, 47, 1);
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
        width: 100%;
        max-width: 900px;
       position: absolute;
       bottom: 0;
    }
}
@media (min-width: 700px) {
    .container__title{
        > img{
         width: 100%;
         max-width: 600px;
        }  
     }
     .footer{
        > img {
            width: 100%;
            max-width: 1200px;
        }
    }
}
